* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
navbar  start*/
.navbar {
  background-color: rgba(4, 6, 43, 0.82) !important;
}
.btn-outline-secondary:hover {
  background-color: white;
  color: black;
}

.navbar-toggler {
  border-color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item {
  margin-right: 100px;
}
/* 
navbar end */

/* Hero start*/
.Hero {
  background-color: rgba(4, 6, 43, 0.82) !important;
}
/* Hero end */

/* logo  start*/
.logo {
  background-color: rgb(252, 235, 222);
}
/* logo end */

/* About start*/
.About {
  background-color: rgb(252, 235, 222);
}

/* About end */

/* History start*/

.History {
  background-color: rgb(252, 235, 222);
}

/* History end */

/* Services start*/
.Services {
  background-color: rgb(252, 235, 222);
}

/* Services end */

/* Video start*/
.Video {
  background-color: rgb(252, 235, 222);
}
.video-icon {
  width: 90px;
  height: 90px;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.video-icon i {
  font-size: 24px;
  color: white;
}

/* Video end */
/* Portfolio start*/
.Portfolio {
  background-color: rgba(4, 6, 43, 0.82) !important;
}

.pimg:hover {
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Portfolio end */
/* Contact  start*/
.Growth {
  background-color: rgba(4, 6, 43, 0.82) !important;
}
.Growth-container {
  background-color: rgb(252, 235, 222);
}
.Growth {
  position: relative;
  overflow: hidden;
}

.Growth-container {
  position: relative;
  padding: 3rem;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .growthimg-last {
    width: 10px;
    max-height: 170px;
  }
}

.icon-border {
  position: absolute;
  top: -50px;
  left: 30px;
  width: 150px;
  height: 150px;
  z-index: 3;
}

.growthimg-last {
  position: absolute;
  right: 0;
  bottom: -30px;
  z-index: 2;
  width: 290px;
  height: 550px;
  margin-bottom: 30px;
}
/* Contact  end*/

/* FAQ section start */
.FAQ {
  background-color: rgb(252, 235, 222);
}

.accordion-button {
  background-color: rgb(252, 235, 222);
}
.accordion-body img {
  max-width: 100%;
  height: auto;
}

.accordion-img {
  max-height: 25px;
  width: auto;
  max-width: 70%;
}
/* FAQ section end*/

/* Pricing start */
.Pricing {
  background-color: rgb(252, 235, 222);
}
.card {
  background-color: rgb(252, 235, 222);
}

.card {
  background-color: rgb(252, 235, 222);
  transition: transform 0.3s ease, background-color 0.3s ease;
  width: 350px;
  height: auto;
}

.card:hover {
  background-color: #fff;
  transform: translateY(-20px); /* moves the card up on hover */
}

.btn:hover {
  background-color: rgb(247, 120, 88) !important;
  color: #fff !important;
}

/* Pricing end*/

/* Testimonials section start*/
.Testimonials {
  background-color: rgba(4, 6, 43, 0.82) !important;
}

.testimonial-box img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: rgba(4, 6, 43, 0.82) !important;
  border: 1px solid #3a3c56 !important;
  border-radius: 5px;
}
.testimonial-box h5 {
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
  font-family: Epilogue;
}
.testimonial-box p {
  color: #9b9a9a;
  font-size: 14px;
}

.swiper-pagination-bullet {
  background-color: rgb(247, 120, 88);
}
.swiper-pagination-bullet-active {
  background-color: rgb(255, 80, 50);
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff;
  font-size: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #f77858;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

/* Testimonials section end*/

/* Contact Section start*/
.contact-section {
  background-color: rgb(252, 235, 222);
}

/* Contact Section end*/

/* footer start*/

.footer {
  background-color: rgb(252, 235, 222);
}
.social-icon {
  color: white;
  background-color: #f77858;
  border-radius: 50%;
  padding: 10px;
  font-size: 18px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-left: 13px;
  margin-top: -15px;
}

.social-icon:hover {
  transform: scale(1.1);
  opacity: 0.9;
}
.footer-link-img {
  max-height: 24px;
  width: auto;
  object-fit: contain;
  margin: 10px;
}

/* 
footer end*/
