* {
  padding: 0px;
  box-sizing: border-box;
  margin: 0px;
  font-family: "Times New Roman", Times, serif;
}

/* 
navbar  start*/
.navbar {
  --bs-bg-opacity: 1;
  background-color: rgba(4, 6, 43, 0.82) !important;
  color: white;
}

.navbar a,
.navbar .navbar-brand,
.navbar .nav-link,
.navbar .btn {
  color: white;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #ddd; 
}
.btn-outline-secondary {
  color: white;
  border-color: white;
}

.btn-outline-secondary:hover {
  background-color: white;
  color: black;
}

.navbar-toggler {
  border-color: white; 
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-item {
  margin-right: 90px;
}
/* 
navbar end */

/* Hero start*/
.Hero {
  background-color: rgba(4, 6, 43, 0.82) !important;
}
.hero-img:hover {
  transform: scale(1.02); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

/* Hero end */

/* logo  start*/
.logo {
  background-color: rgb(252, 235, 222);
}
/* logo end */

/* About start*/
.About {
  background-color: rgb(252, 235, 222);
}
.about-img:hover {
  transform: scale(1.02); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
/* About end */

/* History start*/

.History {
  background-color: rgb(252, 235, 222);
}

/* History end */

/* Services start*/
.Services {
  background-color: rgb(252, 235, 222);
}

/* Services end */

/* Video start*/
.Video {
  background-color: rgb(252, 235, 222);
}
.video-icon {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.video-icon i {
  font-size: 24px;
  color: white;
}

.video-icon:hover {
  transform: scale(1.1);
}

/* Video end */
/* Portfolio start*/
.Portfolio {
  background-color: rgba(4, 6, 43, 0.82) !important;
}

.pimg:hover {
  transform: scale(1.02); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}
/* Portfolio end */
/* Contact  start*/
.Growth {
  background-color: rgba(4, 6, 43, 0.82) !important;
}
.Growth-container {
  background-color: rgb(252, 235, 222);
}
.Growth {
  position: relative;
  overflow: hidden; 
}

.Growth-container {
  border: 3px solid #f77858;
  position: relative;
  padding: 3rem;
}

@media (max-width: 576px) {
  .growthimg-last {
    width: 50px;
    max-height: 150px;
  }
}

.icon-border {
  position: absolute;
  top: -50px;
  left: 30px;

  width: 150px;
  height: 150px;
  z-index: 3;
}

.growthimg-last {
  position: absolute;
  right: 0;
  bottom: -30px; 
  z-index: 2;
  width: 300px;
  height: 530px;
  margin-bottom: 30px;
}
/* Contact  end*/

/* FAQ section start */
.FAQ {
  background-color: rgb(252, 235, 222);
}
/* FAQ section end*/

/* Pricing start */
.Pricing {
  background-color: rgb(252, 235, 222);
}
.card {
  background-color: rgb(252, 235, 222);
}

.card {
  background-color: rgb(252, 235, 222);
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #fff;
}

.btn:hover {
  background-color: rgb(247, 120, 88) !important;
  color: #fff !important;
}

/* Pricing end*/

/* Testimonials section start*/
.Testimonials {
  background-color: rgba(4, 6, 43, 0.82) !important;
  color: #fff;
}

.testimonial-box img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 15px;
  background-color: rgba(4, 6, 43, 0.82) !important;
}
.testimonial-box h5 {
  font-weight: 600;
  margin-bottom: 5px;
  color: #fff;
}
.testimonial-box p {
  color: #fff;
  font-size: 14px;
}

.swiper-pagination-bullet {
  background-color: rgb(247, 120, 88);
}
.swiper-pagination-bullet-active {
  background-color: rgb(255, 80, 50);
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff; 
  font-size: 5px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: #f77858;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
}

/* Testimonials section end*/

/* Contact Section start*/
.contact-section {
  background-color: rgb(252, 235, 222);
}
/* Contact Section end*/
/* footer start*/

.footer {
  background-color: rgb(252, 235, 222);
}
li a {
  color: rgb(63, 62, 62);
}
h6 {
  color: rgb(247, 120, 88);
}
.hr {
  color: coral;
}

/* 
footer end*/
